# Dependency folders
node_modules/
bower_components/

# Build output
dist/
build/
.out/
.next/
.temp/
.eslintcache
coverage/

# Compiled files
*.min.js
*.bundle.js

# Logs
logs/
*.log

# Env files
.env
.env.*  

# IDE/editor files
.vscode/
.idea/
.DS_Store

# Public/static content
public/
static/
assets/
